body {
  background-color: #f5f5f4;
}

p {
  text-align: center;
  background-color: rgb(128, 79, 0);
  margin-bottom: -17px;
}

.montfont {
  font-family: 'Montserrat', sans-serif;
}

.brown-text {
color:rgb(128, 79, 0);
}

.madifont {
  font-family: 'Ms Madi', cursive;
}